body {
  margin: 0;
  padding: 0;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; }

code {
  font-family: Calibri,
    monospace;
}

.navbar {
  background: #ffd742;
}

.img-logo {
  position: absolute;
  top: 0
}

.nav-link {
  color: #007C47;
}

body .nav-link {
  font-size: 20.83px;
  margin-right: 20px;
  &:hover {
    color: #007C47;
  }
  img {
    margin-right: 15px;
  }
}

body .container {
  max-width: 1270px;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .img-logo {
    width: 135px;
  }

  .navbar-collapse {
    margin-top: 50px;
  }
}

body .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#007C47' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
